<div class="an-p-6">
  <h1 class="an-text-2xl an-font-bold">Angular Microfrontend Shell</h1>
  <br />
  <p class="an-text-xl an-font-bold">
    Welcome to the Angular 15 Microfrontend demo using Webpack 5 Module
    Federation
  </p>
  <p>This Microfrontend uses full fledged React and Vue applications.</p>
  <br />

  <div>
    Current React App Name:
    <span class="an-font-bold">{{ reactAppname$ | async }}</span>
  </div>
  <div>
    Current Vue App Name:
    <span class="an-font-bold">{{ vueAppname$ | async }}</span>
  </div>
</div>
