<nav>
  <div class="nav-list">
    <div class="nav-item-parent">
      <li class="nav-item"><a routerLink="home">Angular(Shell)</a></li>
      <ul class="nav-list-ul">
        <li class="nav-item nav-item-small">
          <a routerLink="home/page-1">Page 1</a>
        </li>
        <li class="nav-item nav-item-small">
          <a routerLink="home/page-2">Page 2</a>
        </li>
      </ul>
    </div>
    <div class="nav-item-parent">
      <li class="nav-item"><a routerLink="remote-react">React(Remote)</a></li>
      <ul class="nav-list-ul">
        <li class="nav-item nav-item-small">
          <a routerLink="remote-react/page-1">Page 1</a>
        </li>
        <li class="nav-item nav-item-small">
          <a routerLink="remote-react/page-2">Page 2</a>
        </li>
        <li class="nav-item nav-item-small">
          <a routerLink="remote-react/page-2--sd/asdasd/asd">404</a>
        </li>
      </ul>
    </div>
    <div class="nav-item-parent">
      <li class="nav-item"><a routerLink="remote-vue">Vue(Remote)</a></li>
      <ul class="nav-list-ul">
        <li class="nav-item nav-item-small">
          <a routerLink="remote-vue/page-1">Page 1</a>
        </li>
        <li class="nav-item nav-item-small">
          <a routerLink="remote-vue/page-2">Page 2</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
