<div class="an-w-full an-h-screen">
  <div class="an-w-full an-h-full an-flex an-items-center an-justify-center">
    <div class="an-card an-w-96 an-bg-base-200 an-shadow-x an-m-4">
      <div class="an-card-body an-text-center">
        <div>
          <h2>Microfrontend Shell</h2>
          <p class="an-text-2xl an-font-bold">Welcome to Login Page</p>
          <br />
        </div>
        <h2 class="an-card-title">Login</h2>
        <form class="an-mt-2" (ngSubmit)="onSubmit()" #heroForm="ngForm">
          <input
            [(ngModel)]="token"
            type="text"
            placeholder="Please enter a valid token"
            class="an-input an-input-bordered an-w-full an-max-w-xs" />
          <div class="an-card-actions an-justify-center an-mt-4">
            <button class="an-btn an-btn-primary">Login</button>
          </div>
        </form>
        <p class="an-text-m an-mt-4">Copy below token</p>
        <p class="an-text-xs">
          2023-03-10T10:21:28.989Z##2023-03-20T00:00:00.000Z!!admin,user
        </p>
      </div>
    </div>
  </div>
</div>
